.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

/* just some content with arbitrary styles for explanation purposes */
.modal {
    /*width: 400px;*/
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    line-height: 2rem;
    position: fixed;
    top: 50%;
    /*left: 50%;*/
    left: 0;
    margin-top: -100px;
    /*margin-left: -150px;*/
    background-color: white;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
    width: 100%;
}


@media only screen and (max-width: 600px) {
    .modal {
        /*margin-top: -100px;*/
        /*width: 100%;*/
        /*padding: 20px;*/
    }
}